.navbar__container{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-content: space-around;
  gap: var(--gap-s);
}

.navbar__content__relative{
  grid-column: 2 / 12;
  padding-top: var(--gap-m);
}

.navbar__content{
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__figure__Icon{
  width: 5rem;
  display: flex;
  align-self: center;
  justify-content: center;
}

.navbar__icon{
  width: 100%;
}

.navbar__nav ul{
  display: flex;
  list-style-type: none;
}

.navbar__nav ul a{
  text-decoration: none;
}