.home__container__main{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
  height: 85vh;
}

.home__content__main{
  grid-column: 2 / 8;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: .5rem;
}

.home__h1{
  min-width: 22ch;
  color: var(--c13);
  font-size: 3.5rem;
  line-height: 3.5rem;
  opacity: 0;
  z-index: -1;
  animation: fade-right .4s ease-in forwards;
}

.home__h3{
  color: var(--c11);
  font-size: 2em;
  font-weight: 400;
  margin-top: .5rem;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid var(--c13);
  animation: blinkCursor 500ms infinite normal, typing 5s 1s normal infinite;
  z-index: -1;
}

@keyframes typing {
  0%{
    width: 0;
  }
  50% {
    width: 27ch;
  }
  100%{
    width: 0;
  }
}

@keyframes blinkCursor {
  from{
    border-right-color: var(--c13);
  }
  to{
    border-right-color: transparent;
  }
}

.home__container__blob__main{
  display: none;
}

.home__h2{
  min-width: 15ch;
  color: var(--p1);
  font-size: 3.5em;
  font-weight: 600;
  line-height: 3.25rem;
  opacity: 0;
  animation: fade-right .4s .3s ease-in forwards;
  z-index: -1;
}

@keyframes fade-right {
  0% {
    opacity: 0;
    transform: translateX(-140px);
  }

  100%{
    opacity: 1;
    transform: translateX(initial);
  }
}

.home__button__contato{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: var(--p3);
  font-size: 1.25rem;
  font-weight: 700;
  padding: 1rem 2rem;
  border: 2px solid var(--c2);
  color: var(--c0);
  border-radius: .75rem;
  transition: .3s ease;
  cursor: pointer;
  margin-top: 1rem;
}

.home__social__medias__container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: var(--p5);
  margin-top: 2rem;
  height: 50px;
}

.home__social__medias__content{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .25rem;
}

.home__social__medias__content a{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.home__social__media{
  width: 1rem;
  height: 1rem;
  color: var(--p5);
  fill: var(--p5);
  transition: .3s ease;
  text-decoration: none;
  margin: 0 .5rem;
}

.home__social__medias__content a:hover{
  cursor: pointer;
  animation-duration: 3.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
  background: var(--c3);
  padding: .5rem ;
  background: linear-gradient(to right, var(--c9) 8%, var(--c10) 18%, #F6F6F6 33%);
  background-size: 1200px 100%;
  border-radius: .5rem;
  border: none;
  color: var(--p5);
  fill: var(--p5);
  transition: .3s ease;
}

@-webkit-keyframes shimmer {
  0% {
      background-position: -100% 0;
  }
  100% {
      background-position: 100% 0;
  }
}

@keyframes shimmer {
  0% {
      background-position: -1200px 0;
  }
  100% {
      background-position: 1200px 0;
  }
}

/* Conteudo do lado direito "Blob, IPHONE, MAC" */

.home__container__blob{
 grid-column: 8 / 12;
 display: flex;
 align-items: center;
 justify-content: center;
}

.home__content__blob{
  position: relative;
  z-index: -1;
}

.home__blob{
  width: 100%;
  animation: fade-left .5s forwards ;
}

@keyframes fade-left {
  0% {
    opacity: 0;
    transform: translateX(160px) translateY(-100px) scale(0.9);
  }

  100%{
    opacity: 1;
    transform: translateX(0) translateY(0) scale(1);
  }
}

.home__iphone{
  position: absolute;
  width: 5.4rem;
  left: 62%;
  top: 50%;
  transform: translateY(-65%);
  animation: fade-left-iphone .7s ease;
  filter: drop-shadow(10px 20px 20px #000000bd);
}

@keyframes fade-left-iphone {
  0% {
    opacity: 0;
    transform: translateX(500px) scale(0.9);
  }

  100%{
    opacity: 1;
    transform: translateX(initial) translateY(initial) scale(1);
  }
}

.home__mac{
  position: absolute;
  left: -10%;
  top: 50%;
  transform: translateY(-65%);
  width: 350px;
  animation: fade-up .6s ease;
  filter: drop-shadow(20px 20px 25px #000000bd);
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(100px) scale(0.9);
  }

  100%{
    opacity: 1;
    transform: translateY(initial) scale(1);
  }
}

@media (max-width: 1607px) {
  .home__iphone{
    left: 59%;
  }
}

@media (max-width: 1560px) {
  .home__iphone{
    left: 62%;
  }
}


@media (max-width: 1507px) {
  .home__iphone{
    left: 65%;
  }
}

@media (max-width: 1445px) {
  .home__iphone{
    left: 67%;
  }
}

@media (max-width: 1405px) {
  .home__blob{
    width: 110%;
  }

  .home__iphone{
    left: 70%;
  }
}

@media (max-width: 1340px) {
  .home__iphone{
    left: 73%;
  }
}

@media (max-width: 1305px) {
  .home__iphone{
    left: 75%;
  }
}

@media (max-width: 1267px) {
  .home__h1{
    min-width: 22ch;
    font-size: 3.25rem;
    line-height: 3.25rem;
  }
  
  .home__h3{
    font-size: 1.75em;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .home__h2{
    min-width: 15ch;
    font-size: 3.25em;
    font-weight: 600;
    line-height: 3rem;
  }

  .home__blob{
    width: 120%;
    margin-left: 1rem;
  }


  .home__iphone{
    left: 78%;
  }
}

@media (max-width: 1232px) {
  .home__iphone{
    left: 80%;
  }
}

@media (max-width: 1205px) {
  .home__blob{
    margin-left: 1rem;
  }

  .home__mac{
    left: -12%;
    width: 350px;
  }
  
  .home__iphone{
    left: 83%;
  }
}

@media (max-width: 1147px) {
  .home__h1{
    min-width: 22ch;
    font-size: 3rem;
    line-height: 3rem;
  }
  
  .home__h3{
    font-size: 1.5em;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .home__h2{
    min-width: 15ch;
    font-size: 3em;
    font-weight: 600;
    line-height: 2.75rem;
  }

  .home__mac{
    left: -15%;
    width: 350px;
  }
}

@media (max-width: 1147px) {
  .home__mac{
    left: -17%;
    width: 350px;
  }
}

@media (max-width: 1147px) {
  .home__mac{
    left: -17%;
    width: 350px;
  }

  .home__iphone{
    left: 86%;
  }
}

@media (max-width: 1058px) {
  .home__h1{
    min-width: 22ch;
    font-size: 2.75rem;
    line-height: 2.75rem;
  }
  
  .home__h3{
    font-size: 1.25em;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .home__h2{
    min-width: 15ch;
    font-size: 2.75em;
    font-weight: 600;
    line-height: 2.5rem;
  }
}

@media (max-width: 1070px) {
  .home__mac{
    left: -20%;
    width: 350px;
  }

  .home__iphone{
    left: 86%;
  }
}

@media (max-width: 1020px) {
  .home__mac{
    left: -23%;
    width: 350px;
  }

  .home__iphone{
    left: 87%;
  }
}

@media (max-width: 1020px) {
  .home__mac{
    left: -15%;
    width: 300px;
  }

  .home__iphone{
    left: 84%;
    width: 4.75rem;
  }
}

@media (max-width: 954px) {
  .home__h1{
    min-width: 22ch;
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
  
  .home__h3{
    font-size: 1rem;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .home__h2{
    min-width: 15ch;
    font-size: 2.5em;
    font-weight: 600;
    line-height: 2.25rem;
  }

  .home__mac{
    left: -17%;
    width: 300px;
  }

  .home__iphone{
    left: 84%;
    width: 4.75rem;
  }
}

@media (max-width: 935px) {
  .home__mac{
    left: -17%;
    width: 300px;
  }

  .home__iphone{
    left: 86%;
    width: 4.75rem;
  }
}

@media (max-width: 920px) {
  .home__container__main{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
    height: auto;
    margin: 4rem 0;
  }
  
  .home__content__main{
    grid-column: 2 / 12;
  }

  .home__container__blob{
    display: none;
   }

  .home__container__blob__main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: -1;
  }

  .home__content__blob{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .home__blob{
    margin-left: 1rem;
    width: 80%;
  }

  .home__mac{
    left: 2%;
    width: 350px;
  }
  
  .home__iphone{
    left: 61%;
    width: 5.5rem;
  }
}

@media (max-width: 732px) {
  .home__mac{
    left: 0%;
    width: 350px;
  }
}

@media (max-width: 732px) {
  .home__mac{
    left: -2%;
    width: 350px;
  }
  
  .home__iphone{
    left: 61%;
    width: 5.5rem;
  }
}

@media (max-width: 689px) {
  .home__mac{
    left: -2%;
    width: 350px;
  }
  
  .home__iphone{
    left: 64%;
    width: 5.5rem;
  }
  
  .home__social__medias__content a{
    cursor: pointer;
    animation-duration: 3.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: shimmer;
    animation-timing-function: linear;
    background: var(--c3);
    padding: .5rem ;
    background: linear-gradient(to right, var(--c9) 8%, var(--c10) 18%, #F6F6F6 33%);
    background-size: 1200px 100%;
    border-radius: .5rem;
    border: none;
    color: var(--p5);
    fill: var(--p5);
    transition: .3s ease;
  }
}

@media (max-width: 649px) {
  .home__mac{
    left: 2%;
    width: 300px;
  }
  
  .home__iphone{
    left: 61%;
    width: 4.75rem;
  }
}

@media (max-width: 604px) {
  .home__mac{
    left: -2%;
    width: 300px;
  }
}

@media (max-width: 577px) {
  .home__h1{
    min-width: 22ch;
    font-size: 2rem;
    line-height: 2rem;
  }
  
  .home__h3{
    font-size: 1rem;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .home__h2{
    min-width: 15ch;
    font-size: 2em;
    font-weight: 600;
    line-height: 2rem;
  }

  .home__mac{
    left: -2%;
    width: 300px;
  }
  
  .home__iphone{
    left: 64%;
    width: 4.75rem;
  }
}

@media (max-width: 555px) {
  .home__mac{
    left: -4%;
    width: 300px;
  }
  
  .home__iphone{
    left: 65%;
    width: 4.75rem;
  }
}

@media (max-width: 533px) {
  .home__mac{
    left: 0%;
    width: 280px;
  }
  
  .home__iphone{
    left: 67%;
    width: 4.25rem;
  }
}

@media (max-width: 515px) {
  .home__mac{
    left: -2%;
    width: 280px;
  }
  
  .home__iphone{
    left: 68%;
    width: 4.25rem;
  }
}

@media (max-width: 495px) {
  .home__mac{
    left: -4%;
    width: 270px;
  }
  
  .home__iphone{
    left: 66%;
    width: 4.1rem;
  }
}

@media (max-width: 478px) {
  .home__h1{
    min-width: 17ch;
    font-size: 2rem;
    line-height: 2rem;
  }
  
  .home__h3{
    font-size: 1rem;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .home__h2{
    min-width: 15ch;
    font-size: 2em;
    font-weight: 600;
    line-height: 2rem;
  }

  .home__mac{
    left: -4%;
    width: 250px;
  }
  
  .home__iphone{
    left: 66%;
    width: 4rem;
  }
}

@media (max-width: 448px) {
  .home__mac{
    left: 0%;
    width: 220px;
  }
  
  .home__iphone{
    left: 64%;
    width: 3.5rem;
  }
}

@media (max-width: 429px) {
  .home__mac{
    left: -2%;
    width: 220px;
  }
  
  .home__iphone{
    left: 65%;
    width: 3.5rem;
  }
}

@media (max-width: 409px) {
  .home__mac{
    left: -4%;
    width: 220px;
  }
  
  .home__iphone{
    left: 66%;
    width: 3.5rem;
  }
}

@media (max-width: 392px) {
  .home__mac{
    left: -4%;
    width: 220px;
  }
  
  .home__iphone{
    left: 69%;
    width: 3.5rem;
  }
}

@media (max-width: 377px) {
  .home__h1{
    min-width: 17ch;
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  
  .home__h3{
    font-size: .9rem;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .home__h2{
    min-width: 15ch;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.5rem;
  }

  .home__mac{
    left: -1%;
    width: 200px;
  }
  
  .home__iphone{
    left: 69%;
    width: 3.25rem;
  }
}

@media (max-width: 392px) {
  .home__mac{
    left: -4%;
    width: 200px;
  }
  
  .home__iphone{
    left: 69%;
    width: 3.25rem;
  }
}

@media (max-width: 347px) {
  .home__mac{
    left: 0%;
    width: 180px;
  }
  
  .home__iphone{
    left: 72%;
    width: 3rem;
  }
}

@media (max-width: 318px) {
  .home__mac{
    left: -3%;
    width: 180px;
  }
  
  .home__iphone{
    left: 72%;
    width: 2.9rem;
  }
}