.pagamento__container__main{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
  height: 85vh;
}

.pagamento__content__main{
  grid-column: 2 / 8;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: .5rem;
}

.pagamento__h1{
  min-width: 22ch;
  color: var(--c13);
  font-size: 3.5rem;
  line-height: 3.5rem;
  opacity: 0;
  z-index: -1;
  animation: fade-right .4s ease-in forwards;
}

.pagamento__h3{
  color: var(--c11);
  font-size: 2em;
  font-weight: 400;
  margin-top: .5rem;
}

.pagamento__h2{
  min-width: 15ch;
  color: var(--p1);
  font-size: 3.5em;
  font-weight: 600;
  line-height: 3.25rem;
  opacity: 0;
  animation: fade-right .4s .3s ease-in forwards;
  z-index: -1;
}

@keyframes fade-right {
  0% {
    opacity: 0;
    transform: translateX(-140px);
  }

  100%{
    opacity: 1;
    transform: translateX(initial);
  }
}

.pagamento__button__contato{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: var(--p3);
  font-size: 1.25rem;
  font-weight: 700;
  padding: 1rem 2rem;
  border: 2px solid var(--c2);
  color: var(--c0);
  border-radius: .75rem;
  transition: .3s ease;
  cursor: pointer;
  margin-top: 1rem;
}

.pagamento__social__medias__container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: var(--p5);
  margin-top: 2rem;
  height: 50px;
}

.pagamento__social__medias__content{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .25rem;
}

.pagamento__social__medias__content a{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.pagamento__social__media{
  width: 1rem;
  height: 1rem;
  color: var(--p5);
  fill: var(--p5);
  transition: .3s ease;
  text-decoration: none;
  margin: 0 .5rem;
}

.pagamento__social__medias__content a:hover{
  cursor: pointer;
  animation-duration: 3.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
  background: var(--c3);
  padding: .5rem ;
  background: linear-gradient(to right, var(--c9) 8%, var(--c10) 18%, #F6F6F6 33%);
  background-size: 1200px 100%;
  border-radius: .5rem;
  border: none;
  color: var(--p5);
  fill: var(--p5);
  transition: .3s ease;
}

@-webkit-keyframes shimmer {
  0% {
      background-position: -100% 0;
  }
  100% {
      background-position: 100% 0;
  }
}

@keyframes shimmer {
  0% {
      background-position: -1200px 0;
  }
  100% {
      background-position: 1200px 0;
  }
}

.pagamento__container__form{
  grid-column: 8 / 12;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagamento__form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: .5rem;
  padding: 0 1rem;
  width: 100%;
}

.pagamento__label__content{
  font-size: 1rem;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.pagamento__input{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  border-radius: .75rem;
  font-size: 1rem;
  padding: .5rem 1rem;
  outline-style: none;
  border: none;
} 

.pagamento__textarea{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  width: 100%;
  height: 8rem;
  resize: none;
  border-radius: .75rem;
  font-size: 1rem;
  padding: .5rem 1rem;
  outline: none;
  border: none;
}

.pagamento__button__content{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: .5rem 0 2rem 0;
}

.pagamento__button__submit{
  background-color: var(--p3);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--c0);
  outline: none;
  border: 2px solid var(--c0);
  cursor: pointer;
}

.pagamento__button__submit__disabled{
  background-color: var(--c8);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--c0);
  outline: none;
  border: 2px solid var(--c8);
  cursor: wait;
}

.pagamento__button__cancel{
  background-color: var(--c0);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--p3);
  outline: none;
  border: 2px solid var(--p3);
}

.pagamento__message__send{
  color: rgb(24, 205, 24);
  font-weight: 600;
  margin: .5rem;
}

@media (max-width: 1360px) {
  .pagamento__h1{
    min-width: 22ch;
    font-size: 3rem;
    line-height: 3rem;
  }
  
  .pagamento__h3{
    font-size: 1.5em;
    margin-top: .5rem;
  }
  
  .pagamento__h2{
    min-width: 15ch;
    font-size: 3em;
    line-height: 3rem;
  }
}

@media (max-width: 1174px) {
  .pagamento__h1{
    min-width: auto;
    font-size: 3rem;
    line-height: 3rem;
  }
  
  .pagamento__h3{
    font-size: 1.5em;
    margin-top: .5rem;
  }
  
  .pagamento__h2{
    min-width: auto;
    font-size: 3em;
    line-height: 3rem;
  }
}

@media (max-width: 918px) {
  .pagamento__container__main{
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto;
    height: auto;
  }
  
  .pagamento__content__main{
    grid-column: 2 / 12;
    grid-row: 1;
  }

  .pagamento__container__form{
    grid-column: 2 / 12;
    grid-row: 2;
  }

  .pagamento__form{
    padding: 0;
  }
}

@media (max-width: 728px) {
  .pagamento__h1{
    min-width: auto;
    font-size: 2.75rem;
    line-height: 2.75rem;
  }
  
  .pagamento__h3{
    font-size: 1.25em;
  }
  
  .pagamento__h2{
    min-width: auto;
    font-size: 2.75em;
    line-height: 2.75rem;
  }
}

@media (max-width: 488px) {
  .pagamento__h1{
    min-width: auto;
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
  
  .pagamento__h3{
    font-size: 1.5em;
  }
  
  .pagamento__h2{
    min-width: auto;
    font-size: 2.5em;
    line-height: 2.5rem;
  }
}

@media (max-width: 444px) {
  .pagamento__h1{
    min-width: auto;
    font-size: 1.75rem;
    line-height: 1.75rem;
  }
  
  .pagamento__h3{
    font-size: .85em;
  }
  
  .pagamento__h2{
    min-width: auto;
    font-size: 1.75em;
    line-height: 1.75rem;
  }
}