*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

/* 
  font-family: 'GFS Didot', serif;
  font-family: 'Inter', sans-serif;
  font-family: 'Lato', sans-serif;
*/

.nav-active-fixed{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--gap-s);
  padding-top: var(--gap-m);
  transition: .3s ease;
}

.nav-active{
  grid-column: 2 / 12;
}

.navbar__nav__active{
  text-decoration: none;
  color: var(--c11);
  background-color: var(--c1);  
  border: 1px solid var(--c4);
  padding: .5rem 1rem;
  border-radius: .5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.navbar__nav__active::after{
  content: none !important;
}

.navbar__nav__active:hover::after{
  content: none;
}

html {
  --p1: #fdb515;
  --p2: #fba81f;
  --p3: #f87537;
  --p4: #d62828;
  --p5: #0b1429;
  --p6: #70e000;
  --c0: #fff;
  --c1: #fcfcfc;
  --c2: #f8f8f8;
  --c3: #f4f4f4;
  --c4: #f0f0f0;
  --c5: #e8e8e8;
  --c6: #e0e0e0;
  --c7: #d4d4d4;
  --c8: #c8c8c8;
  --c9: #808080;
  --c10: #707070;
  --c11: #505050;
  --c12: #404040;
  --c13: #2c2c2c;
  --c14: #282828;
  --c15: #202020;
  --c16: #181818;
  --c17: #000;
  --gap-x: 2.5rem;
  --gap-l: 2rem;
  --gap-m: 1rem;
  --gap-s: .5rem;
}

.fade__left{
  animation: fade-left .5s forwards ;
  z-index: -1;
}

@keyframes fade-left {
  0% {
    opacity: 0;
    transform: translateX(200px) scale(0.9);
  }

  100%{
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

.fade__right{
  animation: fade-right .5s forwards ;
  z-index: -1;
}

@keyframes fade-right {
  0% {
    opacity: 0;
    transform: translateX(-200px) scale(0.9);
  }

  100%{
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}