*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

/* 
  font-family: 'GFS Didot', serif;
  font-family: 'Inter', sans-serif;
  font-family: 'Lato', sans-serif;
*/
/* 
.nav-active{
  background-color: aquamarine;
  position: fixed;
  left: 0;
  right: 0;
  top: initial;
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

.nav-active-fixed{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--gap-s);
  padding-top: var(--gap-m);
}

.nav-active{
  grid-column: 2 / 12;
  padding: 1rem;

}

html {
  --p1: #fdb515;
  --p2: #fba81f;
  --p3: #f87537;
  --p4: #d62828;
  --p5: #0b1429;
  --p6: #70e000;
  --c0: #fff;
  --c1: #fcfcfc;
  --c2: #f8f8f8;
  --c3: #f4f4f4;
  --c4: #f0f0f0;
  --c5: #e8e8e8;
  --c6: #e0e0e0;
  --c7: #d4d4d4;
  --c8: #c8c8c8;
  --c9: #808080;
  --c10: #707070;
  --c11: #505050;
  --c12: #404040;
  --c13: #2c2c2c;
  --c14: #282828;
  --c15: #202020;
  --c16: #181818;
  --c17: #000;
  --gap-x: 2.5rem;
  --gap-l: 2rem;
  --gap-m: 1rem;
  --gap-s: .5rem;
}